<!DOCTYPE html>

<html>


  <head>
    <meta charset="utf-8">
    <title>Weather App</title>
  </head>

<body >
<h1><a href='/about'>About</a></h1>

<center>
  <div>
    <h1>
      Find weather anywhere.
    </h1>



</div>

              <div >
                <fieldset>
                 <form action="/" method="post">
                <input type="text" name="address"  placeholder="Enter your Address/Pincode." required>

                <input type="submit" id="sub" value="Submit" ">


                      </form>
                    </fieldset>
                    </div>



    <p><%= fulladdress %></p>
                    <p><%= weather %></p>




    </center>

  </body>


</html>
